<nav class="nav">
  <h1 class="logo"><a routerLink="/">
    E-comm
  </a></h1>

  <!-- <div class="search-container" *ngIf="menuType==='default'">
    <input type="text" placeholder="Search for products" #searchBox
(keyup)="searchProduct($event)" (blur)="searchResult = undefined" />
    <button (click)="submitSearch(searchBox.value)">
      
    Search</button>
    <ul class="suggestedResult">
      <li *ngFor="let product of searchResult">
        <a>{{ product.name }}</a>
      </li>
    </ul>
  </div> -->
<div class="search-container" *ngIf="menuType==='default'">
  
  <input
    type="text"
    placeholder="Search for products"
    #searchBox
    (keyup)="searchProduct($event)"
  />

  <button (click)="submitSearch(searchBox.value)">🔍</button>

  <ul class="suggestedResult" *ngIf="searchResult?.length">

    <li *ngFor="let product of searchResult">
        <a [routerLink]="['/detail', product.id]">{{ product.name }}</a>
    </li>

  </ul>

</div>
  <div class="myMenus" [ngSwitch]="menuType">
    <ul *ngSwitchCase="'default'">
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/seller">Seller</a></li>
      <!-- /login -->
      <li><a routerLink="/userAuth">Login/Sign-Up</a></li>
      <li><a routerLink="/cart">Cart({{cartItems}})</a></li>
    </ul>

    <ul *ngSwitchCase="'user'">
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/seller">Seller</a></li>
      <!-- /login -->
        <li><a routerLink="/userAuth">{{userName | titlecase}}</a></li>
      <li><a href="#" class="mnu" (click)="userLogout(); $event.preventDefault()">LogOut</a></li>
      <li><a routerLink="/cart">Cart({{cartItems}})</a></li>
    </ul>

    <ul *ngSwitchCase="'seller'">
          <li><a routerLink="/seller-add-product">Add Product</a></li>
      <li><a routerLink="/sellerHome">Product List</a></li>
      <li><a href="#" class="mnu" (click)="logout(); $event.preventDefault()">Logout</a></li>
      <li><a routerLink="#">{{sellerName | titlecase}}</a></li>
    </ul>

      
  </div>
</nav>

<!-- <nav class="nav">
    <h1><a routerLink="/">E-comm</a></h1>
    <div class="search-container" *ngIf="menuType==='default'">
        <input type="text" placeholder="Search for products" />
        <button>Search</button>
    </div>
    <div class="myMenus" [ngSwitch]="menuType">
    <ul *ngSwitchCase="'default'">
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/seller">Seller</a></li>
        <li><a routerLink="/login">Login</a></li>
        <li><a routerLink="/cart">Cart(0)</a></li>
    </ul>
        <ul *ngSwitchCase="'seller'">
        <li><a routerLink="#">Product List</a></li>
        <li><a routerLink="/seller">Add Product</a></li>
        <li><a routerLink="/login">Logout</a></li>
        <li><a routerLink="/cart">SellerName</a></li>
    </ul>
    </div>
</nav> -->