<div id="carouselExample" class="carousel slide carousel-fade" data-bs-ride="carousel">

  <!-- Indicators -->
  <div class="carousel-indicators">

    <button *ngFor="let item of popularProducts; let i = index" type="button" data-bs-target="#carouselExample"
      [attr.data-bs-slide-to]="i" [class.active]="i === 0">
    </button>

  </div>

  <!-- Carousel Items -->
  <div class="carousel-inner">

    <div class="carousel-item" *ngFor="let item of popularProducts; let i = index" [class.active]="i === 0">

      <!-- Product Image -->
     
         <a [routerLink]="['/detail', item.id]">
        <img [src]="item.image" class="d-block w-100 slider-image" alt="product">
      </a>
      <!-- Product Details -->
      <div class="carousel-caption d-none d-md-block">

        <h2>{{ item.name }}</h2>

        <p>{{ item.description }}</p>

        <button class="btn btn-warning px-4">
          Shop Now
        </button>

      </div>

    </div>

  </div>

  <!-- Prev -->
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">

    <span class="carousel-control-prev-icon"></span>

  </button>

  <!-- Next -->
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">

    <span class="carousel-control-next-icon"></span>

  </button>

</div>

<div class="product-list-wrapper">

  <h1 class="title">Trendy Products</h1>

  <div class="row">

    <div class="col-sm-3" *ngFor="let item of trendyProducts">

      <div class="product-card">

        <div class="product-item">
          <img [src]="item.image" [alt]="item.name">
        </div>

        <div class="product-detail">

          <h6 class="name-head">
            {{item.name}}
          </h6>

          <div class="product-price">
            <h6>Price: ${{item.price}}</h6>
          </div>

          <div class="product-color">
            <h6>Color: {{item.color}}</h6>
          </div>

        </div>

        <div class="product-footer">
          <a [routerLink]="['/detail', item.id]" class="btn btn-warning">
            View Details
          </a>

          <a href="#" class="btn btn-warning">
            Add to Cart
          </a>
        </div>

      </div>

    </div>

  </div>

</div>