.slider-image {
  height: 550px;
  object-fit: cover;
  border-radius: 10px;
}

/* Dark overlay effect */
.carousel-item::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.35);
  border-radius: 10px;
}

/* Caption styling */
.carousel-caption {
  bottom: 30%;
  z-index: 2;
}

.carousel-caption h2 {
  font-size: 3rem;
  font-weight: bold;
}

.carousel-caption p {
  font-size: 1.2rem;
}

/* Mobile responsive */
@media(max-width:768px){

  .slider-image{
    height: 250px;
  }

  .carousel-caption h2{
    font-size: 1.5rem;
  }

  .carousel-caption p{
    font-size: 0.8rem;
  }

}



.carousel-caption h2 {
  font-size: 3rem;
  font-weight: 700;
}

.carousel-caption p {
  font-size: 1.2rem;
}

.carousel-item {
  position: relative;
}

.carousel-item::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.35);
}