body{
font-family: 'Geist', serif;
padding: 0px;
margin: 0px;
}

.error-p{
    color: red;
}

.success-p{
    color: green;
        text-align: center;
    font-size: 20px
}

.delete_msg{
    color: red;
    text-align: center;
    font-size: 20px;
}